# Dotfile repo setup
.dotfiles

# Dotfiles explicitly excluded
.viminfo
.*_history
.lesshst
.selected_editor
.config/pavucontrol.ini

# Avoid sensitive bits
.boto
.env
.netrc
.my.cnf
.ssh
**/restic_creds.env
.rnd
.config/keybase/
.config/Keybase/
.config/Signal/
.gnupg/*
!.gnupg/gpg.conf

# Install scripts related
install-scripts/selecta/selecta
bin/kitty
acdcontrol
.config/rofi-charpicker
install-scripts/torbrowser/*.tar.xz
.sudo_as_admin_successful

# App configs that should be per-machine
.config/vlc
.config/zoomus.conf
.config/nautilus
.config/syncthing
.wavemonrc

# Regular homedir stuff I don't want to commit
*.log
.asdf
.bundle
.cache
.chromedriver-helper
.config/discord/
.config/pinta/
.config/Pinta/
.config/VeraCrypt/
.config/Slack/
.config/BraveSoftware/
.config/Kalypso Media/
.config/Super_Galaxy_Squadron_EX_Turbo/
.config/gtk*/
.config/Unknown\ Organization/
.config/inkscape
.dbus
.docker
.fontconfig
.fzf
.gem
.gimp*
.gnome
.gvfs
.lastpass
.launchpadlib
.local
.links2
.mozilla
.node-gyp
.npm
.oh-my-zsh
.protonvpn-cli
.shutter
.standard-v**-cache
.steam*
.thumbnails
.tldr
.var
.vim
.xournal
.yarnrc
.yarn
.zcompdump*
.zshrc.zwc
.zoom
Camera**
Desktop
Documents
Downloads
FiraxisLive
go
Music
Pharo
Pictures
Projects
snap
Steam
tor-browser_en-US
Videos
virtualbox_vms
Windward
.wget-hsts

# Clutter
node_modules
**node_modules
**node_modules**
package-lock.json
.config/Wasteland2DC
.DS_Store
.CFUserTextEncoding
.config/MionixHub/
.papertrail.yml
Applications
Library
Movies
Public
.babel.json
.bash_sessions/
.aptible/
.Xauthority
.config/configstore/
.sqltools-setup
.pulse-cookie
.config/GIMP/
.config/gthumb/
.config/Empathy/
.config/Kvantum/
.config/QtProject.conf
.config/Trolltech.conf
Templates
Phone Downloads
.config/uGet
.VeraCrypt-lock-dees
.face
.pki
.esd_auth
.config/qt5ct
.config/syncthing-gtk
.config/nitrogen
.dotfiles.git
